<div class="container">
<h1>Stupid Coaching</h1>
<div class="ask-form">
  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask your coach anything!">
  </form>
</div>
</div>
